body {
    background-image: url(assets/brown-cafe-coffee-coffee-beans-preview.jpg);
    width: auto;
    background-size: contain;
}

.navlink {
    color: #f5e6da;
    padding: 15px;
    text-align: right;
}

h3 {
    color: #f5e6da;
    background-color: rgb(42,29,17,.9);
    padding: 5px;
    border: 1px black;
    border-radius: 15px;
    margin-bottom: 25px;
}

h3:hover {
    color: #f5e6da;
    background-color: rgb(69,48,28);
    padding: 5px;
    border: 1px black;
    border-radius: 15px;
    margin-bottom: 25px;
}

h2 {
    color: #f5e6da;
    padding: 15px;
    background-color: rgb(42,29,17,.9);
    border-radius: 15px;
}

h1 {
    color: #f5e6da;
    background-color: rgb(42,29,17,.9);
    padding: 5px;
    border: 1px black;
    border-radius: 15px;
}

.back {
    color: #f5e6da;
    padding: 10px;
    margin-left: 7%;
}

p {
    color: #8f6849;
    background-color: white;
    padding: 15px;
    border-radius: 15px;
}

img {
    width: 100%;
    border-radius: 15px;
    padding: 2px;
    margin-top: 2%;
}